#myCarousel {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
}

.video {
  margin: 0 auto;
  width: 100%;
  /*width: 532px;*/
  height: 400px;
}

.section2 {
  margin-top: 100px;
}

#text-title {
  margin-top: 0px;
  margin-left: 30px;
  color: #6bbd68;
}

#user-testimonials {
  text-align: center;
  background-color: #6bbd68;
  /*border: solid 3px black;*/
  height: 350px;
  width: 100%;
  margin-top: 60px;
}

#user-pic {
  margin-top: 20px;
}

#user-pic img {
  margin: 0 auto;
}

#user-quote {
  font-size: 60px;
  width: 80%;
}

.user-name {
  text-align: right;
}
